@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
    box-sizing: border-box;
}
.button-nav{
    color: #FFFFFF;  
    text-decoration: none;
}
*{
    box-sizing: border-box;
}

